@{
    ViewBag.Title = "Acerca de";
}
<h2>Acerca de</h2>
<h3>Aplicación web de prueba</h3>

<p>Puede accerder al link del repositorio en GitHub en el siguiente link: <a href="https://github.com/Roypc86/MVC_Cinepolis"> GitHub</a></p>
