@{
    ViewBag.Title = "Contacto";
}
<h2>Información de contacto</h2>

<address>
    Roy Padilla Calderón<br />
</address>

<address>
    <strong>Soporte:</strong>   roypc86@gmail.com<br />
    <strong>GitHub:</strong> <a href="https://github.com/Roypc86/Recopilacion_de_proyectos">GitHub/Roypc86</a>
</address>