@model IEnumerable<WebApp_Cinepolis.Models.Cine>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Seleccione el Cine</h3>
    <div class="col-md-9">
        <select name="selector-cine" id="selector-cine">
            @foreach (var item in Model)
            {
                <option value=@item.Id>@item.Nombre</option>

            }

        </select>
    </div>
    <div class="col-md-3">
        <p>
            @Html.ActionLink("Administrar Cines", "Index", "Cines")
        </p>

    </div>

</div>

<div class="row">

    <div class="col-md-3">
        <h2>Películas</h2>

        <p><a class="btn btn-default" onclick="onClickPeliculasButton()">Películas del cine</a></p>
    </div>
    <div class="col-md-3">
        <h2>Combos</h2>

        <p><a class="btn btn-default" onclick="onClickCombosButton()">Combos del cine</a></p>
    </div>
    <div class="col-md-3">
        <h2>Salas</h2>

        <p><a class="btn btn-default" onclick="onClickSalasButton()">Salas del cine</a></p>
    </div>
    <div class="col-md-3">
        <h2>Horarios</h2>

        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Index","Salas")'">Horarios del cine</a></p>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/Scripts/HomeScript.js")
}
